body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.info {
    text-align: center;
    margin-bottom: 20px;
}

.personal-info {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.detail {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

.value {
    margin-top: 0;
}